 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Product Evolve</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>


  <body>
    <div class="app">
      
      <img src ="/logo.png" class="logo"/>
      <img src ="//>
      
      <h1 class="title">RECOMMENDED FOOD AND PLACES TO EAT</h1>
<<<<<<< HEAD
    <div class="cube">
      
=======
    
>>>>>>> 02f34ce4ea14b4aa36e3cf1d5fdf1372c95ed612
      {{{body}}}


    </div>
      
    </div>
  </body>
</html>