 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Product Evolve</title>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>


  <body>
    <div id="top">
      <a href="/categories"><img src ="/logo.png" class="logo"/></a>
      <h1 class="title">RECOMMENDED FOOD AND PLACES TO EAT</h1>
      </div>
    <div class="cube">
      
      {{{body}}}


    </div>
      
    </div>
  </body>
</html>